.page{
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
}
.contentWrapper{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    overflow: auto;
}
.classes{
    grid-column: 1/13;
    grid-row:2/13;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.class {
    margin: 30px;
    text-align: center;
}
@media screen and (max-width: 700px){
    .page{
        flex-wrap: wrap;
    }
    .class{
        margin: 30px 0;
    }
}