.company-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem 0 0 1rem;
}
.logo{
    height: 150px;
    width: 150px;
    background-image: url("../../assets/Logo.webp");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 100%;
}
@media screen and (max-width: 450px){
    .company-wrapper {
        height: 35%;
    }

}