.page {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    height: 100%;
    align-items: center;
}
.profileArea{
    border-radius: 10px;
    background-color: #ededed;
    max-width: 375px;
    max-height: 600px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 40px;
    font-weight: bolder;
    color: #22263e;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    overflow: auto;
}

.profilePictureContainer {
    width: 60%;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profilePicture {
    width: 300px;
    height: 230px;
}
.profileArea p{
    text-align: center;

}
.logoutButton {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    cursor: pointer;
    color: #ff0000;
    background-color: white;
    border: none;
    font-size: 30px;
    transition: color 0.4s ease-out,background-color 0.4s ease-out;
    font-weight: bold;
}
.logoutButton:hover{
    background-color: #ff0000;
    color: white;

}
@media screen and (max-width: 700px) {
    .page{
        flex-wrap: wrap;
    }

}
