.login-container {
  height: 100vh;
  width: 100%;
  background-color: #fcfafa;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40vh;
  width: 60%;
  background-color: #dfd5f1;
}
