.role-step-wrapper{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows:repeat(12,1fr);
}
.role-step-wrapper h1{
    grid-column: 1/13;
    grid-row: 2;
    text-align: center;
}
.role-wrapper{
    grid-column: 1/13;
    grid-row: 3/13;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.role-step-wrapper p{
    text-align: center;
    font-weight: bolder;
    font-size: 23px;
}




.student-logo{
    background-image: url("../../../../assets/Student.webp");
    height: 200px;
    width: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2rem;
}
.teacher-logo{
    background-image: url("../../../../assets/Teacher.webp");
    height: 200px;
    width: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2rem;
}
.student-wrapper:hover,.teacher-wrapper:hover{
    transform: scale(1.10);
    cursor: pointer;
}
.student-wrapper,.teacher-wrapper{
    transition: transform 0.5s ease;
}
