.select-file {
    position: relative;
    display: inline-block;
}

.btn {
    display: inline-block;
    padding: 15px 23px;
    border-radius: 5px;
    border: 2px solid #007afa;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    color: #007afa;
    transition: transform 0.5s ease;
}
.btn:hover{
    transform: scale(1.30);
    cursor: pointer;
}

