.page{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.content{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12, 100px);
    max-height: 100vh;
    overflow: auto;
    flex-grow: 1;
    overflow: auto;
}

.chaptersWrapper {
    grid-column: 2 / 9;
    grid-row: 3/9;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #f0f0f0;
}
.chapterWrapper{
    min-width: 100%;

}
.chapters{
    width: 100%;
    overflow: auto;

}
.chaptersWrapper > div {
    margin-bottom: 25px;
}
.chapterWrapper{
    margin-bottom: 10px;
}
.chapterWrapperText{
    font-size: 70px;
}
.objectives{
    grid-column: 10/13;
    grid-row: 3/9;
    background-color: #fb7808;
}
@media screen and (max-width: 900px){
    /*.menu-wrapper {*/
    /*    width: auto;*/
    /*    position: relative;*/
    /*    grid-column: 1/13;*/
    /*    grid-row: 2/6;*/
    /*}*/
}
@media screen and (max-width: 700px){
    .page{
        flex-wrap: wrap;
    }
    .chaptersWrapper{
        grid-column: 1/13;
        grid-row: 4/13;
    }
    .objectives{
        grid-column: 1/13;
        grid-row: 2/4;
    }
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: transparent;
}
::-webkit-scrollbar-thumb:hover {
    background: transparent;
}
