* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
body {
  min-height: 100vh;
  min-width: 100vw;
}
.transform-ease{
  transition: transform 0.4s ease;
}
.transform-ease:hover{
  transform: scale(1.2);
  cursor: pointer;
}
.transform-ease-m{
  transition: transform 0.3s ease;
}
.transform-ease-m:hover{
  transform: scale(1.05);
  cursor: pointer;
}
.transform-ease-s{
  transition: transform 0.3s ease;
}
.transform-ease-s:hover{
  transform: scale(1.02);
  cursor: pointer;
}
.no-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.displayNone{
  width: 0 !important;
  height: 0 !important;
  overflow: hidden;
}