* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
[class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 0 !important;
}
body {
  min-height: 100vh;
  min-width: 100vw;
}
.transform-ease{
  transition: transform 0.4s ease;
}
.transform-ease:hover{
  transform: scale(1.2);
  cursor: pointer;
}
.no-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}