.student-home{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);

}
.sHome-header{
    width: 0;
    height: 0;
}

.sHome-classes{
    grid-column: 4/13;
    grid-row: 2/13;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.sHome-classes > div {
    margin: 10px;  /* Adds margin around each div */
    text-align: center; /* Centers the content within each div */
}