.page{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow:   auto;

}
.contentWrapper{
    max-height: 100vh;
    overflow: auto;
    flex-grow: 1;
}
.content{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6, minmax(100px,auto));
    flex-grow: 1;
    max-height: 100vh;
    overflow: auto;
}
.objectives{
    grid-row: 3;
    grid-column: 10/13;
    background-color: #fb7808;
}

.videoPlayerWrapper{
    grid-column: 1/ 13;
    grid-row: 2;
    min-height: fit-content;
    margin:10px;
}
.questionLoaderWrapper{
    /*margin: 10px;*/
    margin: 0 10px 0 10px;
    grid-column: 1/ 10;
    grid-row : 3;
    height: 75vh;
    background-color: #f0f0f0;
}
.objectives{
    margin-right: 10px;
}
/*@media screen and (max-width: 900px){*/
/*    .objectives{*/
/*        grid-column: 4/13;*/
/*        grid-row: 2/4;*/
/*        background-color: #c43f3f;*/
/*    }*/
/*    .video-player-wrapper{*/
/*        grid-column: 4 / 13;*/
/*        grid-row : 4/9*/
/*    }*/
/*    .question-loader-wrapper{*/
/*        grid-column: 4 / 13;*/
/*        grid-row : 9/13*/
/*    }*/
/*}*/
/*@media screen and (max-width: 450px){*/
/*    .header-wrapper-svc{*/
/*        grid-column: 1/13;*/
/*        grid-row: 1;*/
/*    }*/
/*    .objectives{*/
/*        grid-column: 1/13;*/
/*        grid-row: 5/7;*/
/*        background-color: #c43f3f;*/
/*    }*/
/*    .videoPlayerWrapper{*/
/*        grid-column: 1 / 13;*/
/*        grid-row : 7/9*/
/*    }*/
/*    .questionLoaderWrapper{*/
/*        grid-column: 1 / 13;*/
/*        grid-row : 9/13*/
/*    }*/
/*}*/
@media screen and (max-width: 700px) {
    .page {
        flex-wrap: wrap;
    }
    .videoPlayerWrapper{
        grid-column: 1/13;
    }
    .objectives{
        grid-column: 1/13;
        grid-row: 4/6;
        height: 100%;
    }
    .questionLoaderWrapper{
        grid-column: 1/13;
    }
}