.svc-page{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows:  repeat(12,1fr);
    grid-gap: 20px;
}
.header-wrapper-svc{
    grid-column: 7/13;
    grid-row: 1;
}
.svc-objectives{
    grid-column: 10/13;
    grid-row: 2/6;
    background-color: #c43f3f;
}
.sidebar-wrapper-svc{
    grid-column: 1/3;
    grid-row: 1/13;
}
.video-player-wrapper{
    grid-column: 3 / 10;
    grid-row : 2/6
}
.question-loader-wrapper{
    grid-column: 3 / 10;
    grid-row : 6/11
}
@media screen and (max-width: 900px){
    .header-wrapper-svc{
        grid-column: 4/13;
        grid-row: 1;
    }
    .sidebar-wrapper-svc{
        grid-column: 1/4;
        grid-row: 1/13;
    }
    .svc-objectives{
        grid-column: 4/13;
        grid-row: 2/4;
        background-color: #c43f3f;
    }
    .video-player-wrapper{
        grid-column: 4 / 13;
        grid-row : 4/9
    }
    .question-loader-wrapper{
        grid-column: 4 / 13;
        grid-row : 9/13
    }
}
@media screen and (max-width: 450px){
    .header-wrapper-svc{
        grid-column: 1/13;
        grid-row: 1;
    }
    .sidebar-wrapper-svc{
        grid-column: 1/13;
        grid-row: 2/5;
    }
    .svc-objectives{
        grid-column: 1/13;
        grid-row: 5/7;
        background-color: #c43f3f;
    }
    .video-player-wrapper{
        grid-column: 1 / 13;
        grid-row : 7/9
    }
    .question-loader-wrapper{
        grid-column: 1 / 13;
        grid-row : 9/13
    }
}