.register-page{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/Background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.register-box{
    width: 60%;
    height: 55%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    background-color: rgba(255, 249, 249, 1);
    /*backdrop-filter: blur(5px);*/
    border-radius: 2rem;
}
.company-wrapper{
    grid-column: 1/5;
    grid-row: 1/13;
}
.steps-wrapper{
    grid-column: 5/13;
    grid-row: 1/13;
}