.register-page{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/Background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.register-box{
    position: relative;
    height: 60vh;
    background-color: rgba(245, 222, 179,0.85);
    border-radius: 1rem;
    color: #3e2723;
    border: 1px solid #ffa600;
    backdrop-filter: blur(5px);
}
.register-text{
    position: absolute;
    width: 100%;
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.register-form-wrapper{
    height: 100%;
}
@media screen and (max-width: 450px) {
    .register-box{
        height: 90vh;
    }
    .register-text{
        position: relative;
    }
    .register-form-wrapper{
        height: 65%;
    }

}
